@use '../styles/variables';
@use '../styles/fonts';

$white-on-purple: #dbdbdb;

.home-wrapper {
    height: calc(100vh - #{variables.$footer-height});
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .text {
        font-family: LeagueSpartan-Bold;
        font-weight: normal;
        font-style: normal;
        color: $white-on-purple;
    }

    .large {
        font-size: 5.5vw;
    }

    .xlarge {
        font-size: 8vw;
    }

    .section-wrapper {
        height: 100%;
        width: 50%;

        display: flex;
        flex-direction: column;
        justify-content: center;

        .title {
            margin-left: 3%;
        }
    }
    .form-wrapper {
        padding-right: 3%;
    }
}
